.add{
    display: flex;
    justify-content: center;
    .container{
        width: 1200px;
        padding: 50px 0;
        h1{
            color: gray;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .sections{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            .left,.right{
                flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            label{
                color: gray;
                font-size: 18px;
            }
            input,textarea,select{
                padding: 20px;
                
            }
            button{
                background-color: rgb(124, 235, 124);
                padding: 20px;
                color: white;
                border: none;
                &:hover{
                    background-color: rgb(172, 234, 172);
                }
            }
            }
        }

    }
}