.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    
    .container{
        display: flex;
        align-items: center;
        width: 1200px;
        .left{
            display: flex;
            flex-direction: column;
            gap:30px;
            h1{
                font-size: 50px;
            }
            .search {
                background-color: white;
                border-radius: 5px;
                border: 0.5px solid whitesmoke;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
        
                .searchInput {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  img {
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                  }
        
                  input {
                    border: none;
                    outline: none;
        
                    &::placeholder {
                      color: gray;
                    }
                  }
                }
        
                button {
                  width: 120px;
                  height: 40px;
                  border: none;
                  background-color: #1dbf73;
                  color: white;
                  align-self: flex-end;
                  cursor: pointer;
                }
              }
        
              .popular {
                display: flex;
                align-items: center;
                gap: 10px;
        
                span {
                  width: max-content;
                }
        
                button {
                  width: max-content;
                  color: gray;
                  border: 1px solid #1dbf73;
                  padding: 5px 10px;
                  border-radius: 20px;
                  background-color: transparent;
                  font-size: 14px;
                  cursor: pointer;
                }
              }
        }
        .right{
            .hide-bg{
                mix-blend-mode: multiply;
                filter: contrast(1);
                width: 800px;
              }
        }
    }
}