.footer{
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0;
    img{
        width: 24px;
        height: 24px;

    }
    .container{
        width: 1200px;
        .top{
            display: flex;
            justify-content: space-between;
            .item{
                display: flex;
                flex-direction: column;
                gap: 25px;
                h2{
                    color: #555;
                    font-size: 16px;
                }
                span{
                    font-weight: 300;
                }
            }
        }
        hr{
            margin: 50px 0;
            height: 0;
            border: 1px solid lightgray;
        }
       .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right{
            .social{
                display: flex;
                align-items: center;
                gap:  20px;
            }
        }
       }
    }
}